header {
    height: 120px;
    width: auto;
    text-align: center;
    border-top:  5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    background-color: #ea76bf;
  }
  
  section {
    width: 75%;
    margin: 20px auto;
    border-top:  5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    background-color: #f2dbeb;
  }
  
  h1 {
    text-align: center;
    line-height: 2cm;
    font-family: 'Times New Roman', Times, serif;
  }
  
  h2 {
    margin: 0;
  }
  
  h3 {
    margin: 0;
  }
  
  .content {
    padding: 40px;
    width: 1000px;
  }
  
img {
    width: 3cm;
    display: inline-flex;
 }